<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
<body>
    <div class="site-container">
        <div class="neon-line-left"></div>

        <header class="site-header">
            </header>

        <main class="site-content">
            {{ content }}
        </main>

        <footer class="site-footer">
            <p>&copy; {{ site.time | date: "%Y" }} Ege Okumus. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
